@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&display=swap');

#wrapper { 
    width: 1440px; 
    margin: 0 auto; }


body {
    font-family: $font-main;
    background-color: $main;
    color: $dark;
    font-style: 16px;
}

a {
    color: $dark;
    transition: color 0.2s ease-in;

    &__home {
        color: $accent;
    }

    &:hover {
        color: $accent
    }
}

.title__2 {
    font-size: 50px;
    padding-bottom: 42px;
}

.title__3 {
    font-size: 45px;
    text-align: center;
    padding-top: 103px;
}

.title__4 {
    font-size: 47px;
    padding-top: 80px;
    position: relative;
    left: 600px;
}



