.benefits {
    margin-top: 280px;
    margin-left: 162px;
    display: flex;
    justify-content: center;
    align-self: center;
}
.benefits__row {
    display: flex;
    column-gap: 100px;
}
.benefits__item {
    text-align: center;
}
.benefits__title {
    font-size: 25px;
    margin-bottom: 17px;
}
.benefits__text {
    font-family: $font-accent;
    font-size: 22px;
    line-height: 1.5;
}

.view__more {
    font-family: $font-accent;
    font-size: 18px;
    margin-top: 68px;
}

.mini__arrow {
    display: inline;
}

