
.card__img {
    padding-bottom: 25px;
}
.card__title {
    font-size: 24px;
    padding-bottom: 10px;
}
.card__subtitle {
    font-family: $font-accent;
    font-size: 22px;
}
.card__icon {
    padding-left: 500px;
    margin-top: -80px;
}