.copyright__line {
    width: 1440px;
    height: 1px;
    background: #E5E5E5;
    margin-top: 110px;
}

.copyright__text {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: $font-accent;
    font-size: 22px;
    padding-top: 35px;
}

.copyright__text-color {
    color: $accent;
}
